<%- include('../partials/header') %>

<h4>Skills as of <%= date %></h4>

<ul>
  <% skills.forEach(function(s) { %>
    <li>
      <form 
        action="/skills/<%= s.id %>?_method=DELETE"
        method="POST"
        class="delete-form"
      >
        <button id="deleteBtn"type="submit">X</button>
      </form>
      <a href="/skills/<%= s.id %>"><%= s.skill %></a>
      - 
      <%= s.complete ? 'Experienced but extra pratice always does wonders!' : 'Not yet working on it.' %>
    </li>
    <% }); %>
  </ul>
  <a href="/skills/new">Add a Skill</a>
  
  <%- include('../partials/footer') %>